.showPerson{
    
    height:500px;
    display:flex;
   align-items: center;
    top:0;
    flex-direction: column;
    border-bottom:2px dashed black;
    margin:20px 0;
}
.img{
    flex-basis:120px;
    width:180px;
    border-radius:50%;
    border:1px solid black;
    margin-bottom: 20px;
}
img{
    width:100%;
    height:100%;
    border-radius: 50%;
}
.buttony{
    display:flex;
    justify-content: space-between;
    width:30%;
}
.buttony button{
    color:blue;
    border: 1px solid orange;
    font-size:12px;
    
}
#podpisy{
    font-size: 20px;
    padding:20px 10px;
}